<body style="background-color: #f1efef;">
    <div style="background-image: url(../../../assets/contact-us.png); 
    position: relative; right: -950px; top: 12px; width: 500px; height: 260px;"></div>
    <h1 style="font-weight: bolder; position: relative;right: -30px; top: -222px;">Contact Us !</h1>
    <p style=" position: relative;right: -30px; top: -200px;">
        Contact us about anything related to our company or services.<br>
        We'll do our best to get back to you as soon as possible.
    </p>
    <h2 style=" position: relative;right: -30px; top: -170px;">
        Kindly put your details below.
    </h2>
    <div class="row" style="position: relative;right: -30px; top: -130px;">
        <div class="col-lg-8 mt-4 mt-lg-0">
            <section class="s_website_form" data-vcss="001" data-snippet="s_website_form">
                <div class="container">
                    <form id="contactus_form" action="/website/form/" method="post" enctype="multipart/form-data"
                        class="o_mark_required" data-mark="*" data-model_name="mail.mail" data-success-mode="redirect"
                        data-success-page="/contactus-thank-you" data-pre-fill="true" >
                        <div class="s_website_form_rows row s_col_no_bgcolor">
                            <div class="mb-0 py-2 col-12 s_website_form_field s_website_form_custom s_website_form_required"
                                data-type="char" data-name="Field">
                                <div class="row s_col_no_resize s_col_no_bgcolor">
                                    <label class="col-form-label col-sm-auto s_website_form_label" style="width: 200px"
                                        for="contact1">
                                        <span class="s_website_form_label_content">Name</span>
                                        <span class="s_website_form_mark"> *</span>
                                    </label>
                                    <div class="col-sm">
                                        <input id="contact1" type="text" class="form-control s_website_form_input"
                                            name="name" required="" data-fill-with="name">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-0 py-2 col-12 s_website_form_field s_website_form_custom" data-type="char"
                                data-name="Field">
                                <div class="row s_col_no_resize s_col_no_bgcolor">
                                    <label class="col-form-label col-sm-auto s_website_form_label" style="width: 200px"
                                        for="contact2">
                                        <span class="s_website_form_label_content">Phone Number</span>
                                    </label>
                                    <div class="col-sm">
                                        <input id="contact2" type="tel" class="form-control s_website_form_input"
                                            name="phone" data-fill-with="phone">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-0 py-2 col-12 s_website_form_field s_website_form_required s_website_form_model_required"
                                data-type="email" data-name="Field">
                                <div class="row s_col_no_resize s_col_no_bgcolor">
                                    <label class="col-form-label col-sm-auto s_website_form_label" style="width: 200px"
                                        for="contact3">
                                        <span class="s_website_form_label_content">Email</span>
                                        <span class="s_website_form_mark"> *</span>
                                    </label>
                                    <div class="col-sm">
                                        <input id="contact3" type="email" class="form-control s_website_form_input"
                                            name="email_from" required="" data-fill-with="email">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-0 py-2 col-12 s_website_form_field s_website_form_custom" data-type="char"
                                data-name="Field">
                                <div class="row s_col_no_resize s_col_no_bgcolor">
                                    <label class="col-form-label col-sm-auto s_website_form_label" style="width: 200px"
                                        for="contact4">
                                        <span class="s_website_form_label_content">Company</span>
                                    </label>
                                    <div class="col-sm">
                                        <input id="contact4" type="text" class="form-control s_website_form_input"
                                            name="company" data-fill-with="commercial_company_name">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-0 py-2 col-12 s_website_form_field s_website_form_required s_website_form_model_required"
                                data-type="char" data-name="Field">
                                <div class="row s_col_no_resize s_col_no_bgcolor">
                                    <label class="col-form-label col-sm-auto s_website_form_label" style="width: 200px"
                                        for="contact5">
                                        <span class="s_website_form_label_content">Subject</span>
                                        <span class="s_website_form_mark"> *</span>
                                    </label>
                                    <div class="col-sm">
                                        <input id="contact5" type="text" class="form-control s_website_form_input"
                                            name="subject" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-0 py-2 col-12 s_website_form_field s_website_form_custom s_website_form_required"
                                data-type="text" data-name="Field">
                                <div class="row s_col_no_resize s_col_no_bgcolor">
                                    <label class="col-form-label col-sm-auto s_website_form_label" style="width: 200px"
                                        for="contact6">
                                        <span class="s_website_form_label_content">Question</span>
                                        <span class="s_website_form_mark"> *</span>
                                    </label>
                                    <div class="col-sm">
                                        <textarea id="contact6" class="form-control s_website_form_input"
                                            name="description" required=""></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-0 py-2 col-12 s_website_form_field s_website_form_dnone">
                                <div class="row s_col_no_resize s_col_no_bgcolor">
                                    <label class="col-form-label col-sm-auto s_website_form_label" style="width: 200px"
                                        for="contact7">
                                        <span class="s_website_form_label_content">Email To</span>
                                    </label>
                                    <div class="col-sm">
                                        <input id="contact7" type="hidden" class="form-control s_website_form_input"
                                            name="email_to" value="wordvish@gmail.com"><input type="hidden"
                                            value="f87090a5fd54b37b02cbb60d5aa9ba54079a77d66ee78f7fac871be0b1dbce03"
                                            class="form-control s_website_form_input s_website_form_custom"
                                            name="website_form_signature">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-0 py-2 col-12 s_website_form_submit" data-name="Submit Button">
                                <div style="width: 200px;" class="s_website_form_label"></div>
                                <a href="#" role="button" class="btn btn-primary s_website_form_send">Submit</a>
                                <span id="s_website_form_result"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        
        <div class="col-lg-4 mt-4 mt-lg-5">
            <ul class="list-unstyled mb-0 ps-2">
                <li style="font-weight: bold; font-size: large;">Location: </li><br>
                <li>Shree Dental Care</li>
                <li>Bhupal Club, 311001, Maharana
                        Talkies Road,<br>opp. Mangalam bag house, Sindhu Nagar,<br> Shastri Nagar, Bhilwara, Rajasthan
                        311001</li>
                <li>+91 94613 31544  +91-97995-11130</li>
                <li><i class="fa fa-1x fa-fw fa-envelope me-2"></i><span></span></li>
            </ul>
        </div>
    </div>
</body>