<body>
    <div style="background-color: rgb(67, 96, 239); border: salmon ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 50px;">
        <br><br><br><br><br>
        <p style="text-align: left; color: white;font-size: larger;
    position: relative; right: -10px; top: -100px;
    ">Our Success Stories
        </p>
    </div>
    <div style="background-color: white ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 350px;">
        <br><br><br><br><br>
        <div style="
    position: relative; right: 00px; top: -90px; width: 500px; height: 400px;">
    <video width="500" height="400" controls>
    <source src="../../../assets/success_stories_1.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
        </div>
        <p style="text-align: left; color: black;font-size: large;
    position: relative; right: -580px; top: -500px;
    ">Full Mouth implant of a patient has been done in Shree Dental Care <br>by Dr Prakash Thawani. The procedure involves surgically placing titanium <br>posts into the jawbone 
    to serve as artificial tooth roots. Once these posts<br> fuse with the bone through a process called osseointegration,
     prosthetic teeth <br>can be attached to them using abutments.
     <br><br>
     Review has been given by the patient.Kindly watch the video.
            <br> <br> <br>
        </p>
    </div>
    <br> <br> <br><br> <br> <br>
    <div style="background-color: rgb(67, 96, 239); border: salmon ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 50px;">
        <br><br><br><br><br>
        <p style="text-align: left; color: white;font-size: larger ;
    position: relative; right: -10px; top: -100px;
    ">SMILE TRANSFORMATIONS
        </p>
    </div>
    <div style="background-color: white ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 350px;">
        <br><br><br><br><br>
        <div style="background-image: url(../../../assets/services_2.jpg); 
    position: relative; right: -700px; top: -90px; width: 500px; height: 400px;">

        </div>
        <p style="text-align: left; color: black;font-size: large;
    position: relative; right: 00px; top: -500px;
    ">In a world where first impressions matter, a confident smile can make <br>all the difference. Cosmetic dentistry, often the 
    unsung hero behind those <br>stunning smiles, is pivotal in transforming teeth and lives. Let’s delve into <br>the realm of smile 
    makeovers and explore real-life success stories <br>that showcase the power of cosmetic dentistry.
            <br> <br> <br>
        </p>
    </div>
    <br> <br> <br><br> <br> <br> 

</body>