<div class='container-fluid'>  
    <div class="row" style="padding: 20px;">  
        <div style="background-color: blue;">  
            <p style="text-align: center; font-size: x-large;font-weight: bolder;color: white; position: relative; top: 10px">Our Services</p>
        </div>  
    </div>  
    <div class='col-12' style="background-color: antiquewhite;height: 500px; width: 1200px; position: relative; right: -130px; top: 12px;">  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <a href="/services">
                <img src="../../../assets/services_1.jpg" style="position: relative; right: -100px; top: 80px;width: 500px; ">  </a>
                <p style="text-align: left; color: black;font-size: small;
    position: relative; right: -680px; top: -260px;
    ">RCT - Endodontic Therapy is a treatment sequence for the infected pulp <br>
     of a tooth which is intended to result in the elimination of infection and  <br>
     the protection of the decontaminated tooth from future microbial invasion. <br>
      It is done under Local Anaesthetic for a painless procedure in single/multiple <br> sittings as per requirement. <br><br>

"MOST OF THE CASES DONE IN 2 SITTINGS WITH CAPPING." <br><br>
Root Canal Treatment (RCT) also known as Endodontic Treatment is a  <br> procedure done when tooth decay reaches the pulp (innermost layer  <br>
of the tooth) causing inflammation. It is necessary to save the damaged  <br>
tooth from extraction. This procedure is done by an Endodontist who is  <br> 
known as a Root Canal Specialist. The procedure involves: Removal of  <br> 
inflamed or infected tooth material Cleaning and disinfection Filling  <br> and sealing with an inert material
 Restoration and crown/cap It is a<br> multi-step procedure and may require multiple sittings.
        </p>
            </ng-template>  
            <ng-template ngbSlide>  
                <a href="/services">
                    <img src="../../../assets/services_2.jpg"  style="position: relative; right: -100px; top: 80px;width: 500px; ">  </a> 
                    <p style="text-align: left; color: black;font-size: small;
     position: relative; right: -680px; top: -260px;
    ">Tooth removal is usually a quick and painless procedure because  <br> your dentist will put local anesthesia on the mouth before
     extracting  <br> the tooth. Without anesthesia, getting a tooth pulled can cause a lot <br> of pain. <br><br>

Severe infection. This is the most common reason why a  <br> dentist needs to extract a tooth. Even though dentists promote risk <br>
 assessment during early dental visits to prevent dental caries, decay  <br>still happens. Without proper oral hygiene practices, the teeth and <br>
  gums will develop disease-causing bacteria. This leads to tooth <br> damage and a risk of infection spread. Especially in the areas at 
  the  <br>back of the mouth, bacteria develop easily. This one’s a sure call  <br>for a wisdom tooth extraction.
        </p>
            </ng-template>  
            <ng-template ngbSlide>  
                <a href="/services">
                    <img src="../../../assets/services_3.jpg"  style="position: relative; right: -100px; top: 80px;width: 500px; ">  </a>
                    <p style="text-align: left; color: black;font-size: small;
     position: relative; right: -680px; top: -260px;
    ">There are five types of materials commonly used to fill in space where a <br>
    carries has been removed. You may not always have a choice in the type of<br>
     filling you need, but if you do, it's helpful to know the pros and cons of each.<br><br>

To treat a cavity your dentist will remove the decayed portion of the tooth <br>and then "fill" the area on the tooth where the decayed material was<br> removed.
 Fillings are also used to repair cracked or broken teeth and teeth <br>that have been worn down from misuse (such as from nail-biting or <br>
 tooth grinding).
        </p>
            </ng-template>  
        </ngb-carousel>  
       
    </div>  
    <br><br>
</div>  