<body>
    <div style="background-image: url(../../../assets/homeNew.png); 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 750px;">
        <br><br><br><br><br>
        <div class="col o_colored_level o_grid_item g-height-11 g-col-lg-12 col-lg-12"
            style="z-index: 1; grid-area: 1 / 1 / 12 / 13;">
            <h1 style="font-weight: bolder; position: relative;right: -30px;">Dentistry is our<br> profession<br>but
                people are our focus.&nbsp;</h1>
            <br><br><br><br><br> <br><br><br><br><br>
            <p style="position: relative;right: -30px; color: black;font-size: large;font-weight: bold;">Our mission is
                to give customers the best
                experience.<br>Extensive
                documentation &amp; guides, an active community,<br>24/7 support make it a pleasure to work with us.

                <br>
            </p>
            <p style="position: relative;right: -140px;">
                <a class="btn btn-primary btn-lg o_default_snippet_text" href="/contactus" data-bs-original-title=""
                    title="">Contact us</a>
            </p>
        </div>
    </div>
    <br>
    <div style="background-color: white; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 750px;">
        <br><br><br><br><br>
        <div style="background-image: url(../../../assets/home_2.jpg); 
    position: relative; right: 00px; top: -120px; width: 500px; height: 750px;">

        </div>
        <h1 style="position: relative; right: -600px; top: -820px">WELCOME TO SHREE DENTAL<br>CARE</h1>
        <p style="text-align: left; color: black;font-size: large;
    position: relative; right: -600px; top: -750px;
    ">We offer a wide range of dental services at the General Clinic.<br> You will be provided with a comprehensive
            treatment plan prior<br> to the start of any dental services.<br> In the area of general dentistry, we are
            giving a variety of services <br>for the last 13 years.Like root canal treatment in a single sitting <br>and
            extraction of all kinds of teeth including wisdom molars.<br> In the area of cosmetic treatment we are
            dealing in braces treatment <br>for irregular and protruded teeth, almost 1000 cases are finished
            in<br>braces
            treatment.
            <br> <br> <br>
            <a class="btn btn-primary btn-lg o_default_snippet_text" href="/contactus" data-bs-original-title=""
                title="">Know More</a>
        </p>
    </div>
    <br>
    <div style="background-color: #9f9ff1; 
        position: relative; right: -130px; top: 12px; width: 1200px; height: 750px;">
        <div style=" position: relative; top: 480px;" class="line"></div>
        <div style=" position: relative;  right:-30px; top: 545px;" class="line2"></div>
        <div style=" position: relative; right: -420px; top: 543px;" class="line2"></div>
        <div style=" position: relative; right: -800px; top: 541px;" class="line2"></div>
        <h1 style="font-weight: bolder; position: relative;right: -530px;top: 22px;">Our Facilities</h1>
        <h1 style="font-weight: bolder; position: relative;right: -430px;top: 22px;">Best facility providers</h1>
        <div style="background-image: url(../../../assets/home_img_3.1.jpg); 
 position: relative; right: -40px; top: 30px; width: 350px; height: 300px;"></div>
        <div style="background-image: url(../../../assets/home_img_3.2.jpg); 
  position: relative; right: -420px; top: -270px; width: 350px; height: 300px;"></div>
        <div style="background-image: url(../../../assets/home_img_3.33.jpg); 
  position: relative; right: -800px; top: -570px; width: 350px; height: 300px;"></div>
        <h2 style="color: black;font-size: large;
  position: relative; right: -37px; top: -500px;
  ">General Dentistry</h2>
        <h2 style="color: black;font-size: large;
   position: relative; right: -420px; top: -530px;
   ">Cosmetic Treatment</h2>
        <h2 style="color: black;font-size: large;
    position: relative; right: -800px; top: -560px;
    ">Orthodontic Treatment</h2>
        <p style="color: black;font-size: large;
    position: relative; right: -37px; top: -550px;
    ">General dentistry covers a range of <br> treatment options and procedures<br> fundamental to protecting and
            <br>maintaining a
            good standard of oral <br>health.</p>
        <p style="color: black;font-size: large;
    position: relative; right: -420px; top: -700px;
    ">If you’re not satisfied with your smile,<br> modern cosmetic dentistry can help. This<br> method of professional
            oral care focuses <br>on improving the appearance of your mouth, <br>teeth, gums, and overall smile.</p>
            <p style="color: black;font-size: large;
    position: relative; right: -800px; top: -850px;
    ">Orthodontic treatment is a way of <br>straightening or moving teeth, to <br>improve the appearance of the teeth <br>and how they work. </p>
    </div>
    <br>
    <div style="background-color: rgb(84, 129, 96); 
     position: relative; right: 0px; top: 12px; width: 30000px; height: 200px;">
         <br><br><br><br><br>
         <p style="text-align: left; color: white;font-size: larger ;
     position: relative; right: -500px; top: -100px;
     ">HIGH INNOVATIVE TECHNOLOGY & PROFESSIONAL DENTISTS
         </p>
         <p style="text-align: left; color: white;font-size: large ;
     position: relative; right: -550px; top: -100px;
     ">MAKE APPOINTMENT OR CALL +91 94613 31544
         </p>
         <p style="position: relative;right: -650px;top: -100px;">
            <a class="btn btn-primary btn-lg o_default_snippet_text" href="/contactus" data-bs-original-title=""
                title="">Book Appointment</a>
        </p>
     </div>
     <br>
     <app-carousel></app-carousel>
</body>