<body>
    <div style="background-color: rgb(67, 96, 239); border: salmon ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 50px;">
        <br><br><br><br><br>
        <p style="text-align: left; color: white;font-size: larger;
    position: relative; right: -10px; top: -100px;
    ">PAINLESS R.C.T.
        </p>
    </div>
    <div style="background-color: white ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 350px;">
        <br><br><br><br><br>
        <div style="background-image: url(../../../assets/services_1.jpg); 
    position: relative; right: 00px; top: -90px; width: 500px; height: 400px;">

        </div>
        <p style="text-align: left; color: black;font-size: large;
    position: relative; right: -580px; top: -500px;
    ">RCT - Endodontic Therapy is a treatment sequence for the infected pulp <br>
     of a tooth which is intended to result in the elimination of infection and  <br>
     the protection of the decontaminated tooth from future microbial invasion. <br>
      It is done under Local Anaesthetic for a painless procedure in single/multiple <br> sittings as per requirement. <br><br>

"MOST OF THE CASES DONE IN 2 SITTINGS WITH CAPPING." <br><br>
Root Canal Treatment (RCT) also known as Endodontic Treatment is a  <br> procedure done when tooth decay reaches the pulp (innermost layer  <br>
of the tooth) causing inflammation. It is necessary to save the damaged  <br>
tooth from extraction. This procedure is done by an Endodontist who is  <br> 
known as a Root Canal Specialist. The procedure involves: Removal of  <br> 
inflamed or infected tooth material Cleaning and disinfection Filling  <br> and sealing with an inert material
 Restoration and crown/cap It is a<br> multi-step procedure and may require multiple sittings.
            <br> <br> <br>
        </p>
    </div>
    <br> <br> <br><br> <br> <br>
    <div style="background-color: rgb(67, 96, 239); border: salmon ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 50px;">
        <br><br><br><br><br>
        <p style="text-align: left; color: white;font-size: larger ;
    position: relative; right: -10px; top: -100px;
    ">PAINLESS TOOTH REMOVAL
        </p>
    </div>
    <div style="background-color: white ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 350px;">
        <br><br><br><br><br>
        <div style="background-image: url(../../../assets/services_2.jpg); 
    position: relative; right: -700px; top: -90px; width: 500px; height: 400px;">

        </div>
        <p style="text-align: left; color: black;font-size: large;
    position: relative; right: 00px; top: -500px;
    ">Tooth removal is usually a quick and painless procedure because  <br> your dentist will put local anesthesia on the mouth before
     extracting  <br> the tooth. Without anesthesia, getting a tooth pulled can cause a lot <br> of pain. <br><br>

Severe infection. This is the most common reason why a  <br> dentist needs to extract a tooth. Even though dentists promote risk <br>
 assessment during early dental visits to prevent dental caries, decay  <br>still happens. Without proper oral hygiene practices, the teeth and <br>
  gums will develop disease-causing bacteria. This leads to tooth <br> damage and a risk of infection spread. Especially in the areas at 
  the  <br>back of the mouth, bacteria develop easily. This one’s a sure call  <br>for a wisdom tooth extraction.
            <br> <br> <br>
        </p>
    </div>
    <br> <br> <br><br> <br> <br> 
 <div style="background-color: rgb(67, 96, 239); border: salmon ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 50px;">
        <br><br><br><br><br>
        <p style="text-align: left; color: white;font-size: larger;
    position: relative; right: -10px; top: -100px;
    ">ALL TYPE TOOTH FILLING
        </p>
    </div>
    <div style="background-color: white ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 350px;">
        <br><br><br><br><br>
        <div style="background-image: url(../../../assets/services_3.jpg); 
    position: relative; right: 00px; top: -90px; width: 500px; height: 400px;">

        </div>
        <p style="text-align: left; color: black;font-size: large;
    position: relative; right: -600px; top: -500px;
    ">There are five types of materials commonly used to fill in space where a <br>
    carries has been removed. You may not always have a choice in the type of<br>
     filling you need, but if you do, it's helpful to know the pros and cons of each.<br><br>

To treat a cavity your dentist will remove the decayed portion of the tooth <br>and then "fill" the area on the tooth where the decayed material was<br> removed.
 Fillings are also used to repair cracked or broken teeth and teeth <br>that have been worn down from misuse (such as from nail-biting or <br>
 tooth grinding).
            <br> <br> <br>
        </p>
    </div>
    <br> <br> <br><br> <br> <br>
    <div style="background-color: rgb(67, 96, 239); border: salmon ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 50px;">
        <br><br><br><br><br>
        <p style="text-align: left; color: white;font-size: larger ;
    position: relative; right: -10px; top: -100px;
    ">METAL/TOOTH COLOUR CAP
        </p>
    </div>
    <div style="background-color: white ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 350px;">
        <br><br><br><br><br>
        <div style="background-image: url(../../../assets/services_4.jpg); 
    position: relative; right: -700px; top: -90px; width: 500px; height: 400px;">
        </div>
        <p style="text-align: left; color: black;font-size: large;
    position: relative; right: 00px; top: -500px;
    ">Patients who are getting one or more dental crowns may be <br> wondering 
    what the color options are. The color of your crown <br> will depend on the type of material that the crown is made from.  <br>The good news is that the dentist will try to match the color to  <br>your natural teeth as closely as possible. <br><br>

    Dental crowns are caps placed on top of damaged teeth. Crowns <br>are used to protect, cover and restore the shape of your teeth <br>
    when fillings don’t solve the problem. Dental crowns can be made <br>out of metals, porcelain, resin and ceramics. They typically don’t
    <br> require special care over time other than regular good oral hygiene.
            <br> <br> <br>
        </p>
    </div>
    <br> <br> <br><br> <br> <br> 
    <div style="background-color: rgb(67, 96, 239); border: salmon ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 50px;">
        <br><br><br><br><br>
        <p style="text-align: left; color: white;font-size: larger;
    position: relative; right: -10px; top: -100px;
    ">BRACES TREATMENT
        </p>
    </div>
    <div style="background-color: white ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 350px;">
        <br><br><br><br><br>
        <div style="
    position: relative; right: 00px; top: -90px; width: 500px; height: 500px;">
    <video width="500" height="400" controls>
      <source src="../../../assets/services_braces.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video>
        </div>
        <p style="text-align: left; color: black;font-size: large;
    position: relative; right: -580px; top: -500px;
    ">Dental braces are wire-based appliances that orthodontists use to correct<br> crowded and misaligned teeth or jaws.
     Many people who need dental braces<br> get them during their early teenage years, but adults also can benefit from <br>wearing braces.
<br><br>
    Orthodontic treatment is a way of straightening or moving teeth, to improve<br> the appearance of the teeth and how they 
    work. It can also help to look after <br> the long-term health of your teeth, gums and jaw joints, by spreading the<br> biting pressure
    over all your teeth.
            <br> <br> <br>
        </p>
    </div>
    <br> <br> <br><br> <br> <br>
    <div style="background-color: rgb(67, 96, 239); border: salmon ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 50px;">
        <br><br><br><br><br>
        <p style="text-align: left; color: white;font-size: larger ;
    position: relative; right: -10px; top: -100px;
    ">ZIRCONIA CAP
        </p>
    </div>
    <div style="background-color: white ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 350px;">
        <br><br><br><br><br>
        <div style="background-image: url(../../../assets/services_6.jpg); 
    position: relative; right: -700px; top: -90px; width: 500px; height: 400px;">

        </div>
        <p style="text-align: left; color: black;font-size: large;
    position: relative; right: 00px; top: -500px;
    "> <br>Zirconium crowns are one of the most recommended types of crowns these days.  <br>For those who want an 
    excellent looking artificial tooth, zirconia crowns offer the  <br>best. These crowns are made up of zirconia or zirconium oxide.
     It is a white  <br>powdered metal often referred to as white gold. Individuals who want aesthetic <br> natural-looking artificial
      teeth for themselves prefer choosing zirconia crowns. <br>
     It has the ability to be opaque to X-rays or other similar radiations.
            <br> <br> <br>
        </p>
    </div>
    <br> <br> <br><br> <br> <br> 
    <!--7th and 8th-->
    <div style="background-color: rgb(67, 96, 239); border: salmon ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 50px;">
        <br><br><br><br><br>
        <p style="text-align: left; color: white;font-size: larger;
    position: relative; right: -10px; top: -100px;
    ">TOOTH WHITENING (BLEACHING)
        </p>
    </div>
    <div style="background-color: white ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 350px;">
        <br><br><br><br><br>
        <div style=" 
    position: relative; right: 00px; top: -90px; width: 500px; height: 400px;">
<video width="500" height="400" controls>
    <source src="../../../assets/service_bleaching.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
        </div>
        <p style="text-align: left; color: black;font-size: large;
    position: relative; right: -580px; top: -500px;
    ">Tooth whitening or tooth bleaching is the process of lightening the color of <br>human teeth. Whitening is often desirable when 
    teeth become yellowed over <br>time for a number of reasons, and can be achieved by changing the intrinsic or <br>extrinsic color of
     the tooth enamel.<br><br>

    There are many teeth whitening systems and products, including whitening<br> toothpastes, over-the-counter gels, rinses, strips,
     trays, and whitening products<br> you get from a dentist. Teeth whitening is ideal for people who have healthy,<br> unrestored teeth
     (no fillings) and gums. Individuals with yellow tones to their<br> teeth respond best. But this cosmetic procedure is not recommended 
    for<br> everyone.
            <br> <br> <br>
        </p>
    </div>
    <br> <br> <br><br> <br> <br>
    <div style="background-color: rgb(67, 96, 239); border: salmon ; 
    position: relative; right: -130px; top: 12px; width: 1200px; height: 50px;">
        <br><br><br><br><br>
        <p style="text-align: left; color: white;font-size: larger ;
    position: relative; right: -10px; top: -100px;
    ">TOOTH LAMINATION
        </p>
    </div>
    <div style="background-color: white ;
    position: relative; right: -130px; top: 12px; width: 1200px; height: 350px;">
        <br><br><br><br><br>
        <div style="background-image: url(../../../assets/services_8.jpg); 
    position: relative; right: -700px; top: -90px; width: 500px; height: 400px;">

        </div>
        <p style="text-align: left; color: black;font-size: large;
    position: relative; right: 00px; top: -500px;
    ">Commonly referred to as dental veneers, dental laminates are composed of <br>either porcelain or a composite material.
     Placed over the natural teeth, this<br> thin layer of material can help protect teeth from decay as well as improve the<br> look of a smile.
     <br><br>
    One way that we can make your smile more attractive is to place porcelain <br>laminate veneers or jacket crowns. Porcelain veneers are
    translucent, thin <br>laminates made to improve the esthetics (shape, spacing, color) of natural<br> teeth, to correct crowding, or to replace
     composite bonding.
            <br> <br> <br>
        </p>
    </div>
    <br> <br> <br><br> <br> <br> 
     <!--9th and 10th-->
     <div style="background-color: rgb(67, 96, 239); border: salmon ; 
     position: relative; right: -130px; top: 12px; width: 1200px; height: 50px;">
         <br><br><br><br><br>
         <p style="text-align: left; color: white;font-size: larger;
     position: relative; right: -10px; top: -100px;
     ">TOOTH JEWELLERY
         </p>
     </div>
     <div style="background-color: white ; 
     position: relative; right: -130px; top: 12px; width: 1200px; height: 350px;">
         <br><br><br><br><br>
         <div style="background-image: url(../../../assets/services_9.jpg); 
     position: relative; right: 00px; top: -90px; width: 500px; height: 400px;">
 
         </div>
         <p style="text-align: left; color: black;font-size: large;
     position: relative; right: -580px; top: -500px;
     ">A tooth gem is a small rhinestone jewel is attached to the surface of a tooth <br>using an adhesive. Some are small
      stones in the center of the tooth, other<br> times people elect to place a jewel-encrusted cap over their teeth.
      <br><br>
    If you would like to pursue tooth jewellery as a treatment, discuss it with your <br>dentist first. If your dentist does
     offer it as a treatment, the gem and tooth<br> will be prepared correctly. You can also be reassured that you are having the<br> 
     treatment in a sterile environment, keeping the chances of infection low.
             <br> <br> <br>
         </p>
     </div>
     <br> <br> <br><br> <br> <br>
     <div style="background-color: rgb(67, 96, 239); border: salmon ; 
     position: relative; right: -130px; top: 12px; width: 1200px; height: 50px;">
         <br><br><br><br><br>
         <p style="text-align: left; color: white;font-size: larger ;
     position: relative; right: -10px; top: -100px;
     ">DENTURE/FIXED TOOTH
         </p>
     </div>
     <div style="background-color: white ;
     position: relative; right: -130px; top: 12px; width: 1200px; height: 350px;">
         <br><br><br><br><br>
         <div style="background-image: url(../../../assets/services_10.jpg); 
     position: relative; right: -700px; top: -90px; width: 500px; height: 400px;">
 
         </div>
         <p style="text-align: left; color: black;font-size: large;
     position: relative; right: 00px; top: -500px;
     ">A restoration of one or more missing teeth that cannot be readily removed<br> by the patient or dentist; 
     it is permanently attached to natural teeth or<br> roots that furnish the primary support to the appliance. <br><br>
     Basically, Denture devices consist of a row of prosthetic teeth connected to a <br>framework that is held in position by dental 
     implants. Fixed dentures<br> – also know as non-removable dentures.
             <br> <br> <br>
         </p>
     </div>
     <br> <br> <br><br> <br> <br> 
     <!--11th and 12th-->
     <div style="background-color: rgb(67, 96, 239); border: salmon ; 
     position: relative; right: -130px; top: 12px; width: 1200px; height: 50px;">
         <br><br><br><br><br>
         <p style="text-align: left; color: white;font-size: larger;
     position: relative; right: -10px; top: -100px;
     ">TOOTH CLEANING & POLISHING
         </p>
     </div>
     <div style="background-color: white ; 
     position: relative; right: -130px; top: 12px; width: 1200px; height: 350px;">
         <br><br><br><br><br>
         <div style="background-image: url(../../../assets/services_11.jpg); 
     position: relative; right: 00px; top: -90px; width: 500px; height: 400px;">
 
         </div>
         <p style="text-align: left; color: black;font-size: large;
     position: relative; right: -580px; top: -500px;
     ">After your teeth have been thoroughly cleaned and all the plaque and tartar<br> removed, 
     then it's time for polishing. Most polishing is done with a tiny rubber<br> cup that spins on the end of 
     a hand-held wand. Before polishing your teeth,<br> the hygienist scoops up some prophy paste onto the rubber cup.
    Dental <br>polishing, sometimes called tooth polishing, is a cleaning method your dentist<br> uses to keep your teeth healthy.
     It is used to: Smooth the surface of your teeth. <br>Remove stains. Get rid of plaque.
             <br> <br> <br>
         </p>
     </div>
     <br> <br> <br><br> <br> <br>
     <div style="background-color: rgb(67, 96, 239); border: salmon ; 
     position: relative; right: -130px; top: 12px; width: 1200px; height: 50px;">
         <br><br><br><br><br>
         <p style="text-align: left; color: white;font-size: larger ;
     position: relative; right: -10px; top: -100px;
     ">IMPLANT REGULAR SERVICE
         </p>
     </div>
     <div style="background-color: white ;
     position: relative; right: -130px; top: 12px; width: 1200px; height: 350px;">
         <br><br><br><br><br>
         <div style="background-image: url(../../../assets/services_12.jpg); 
     position: relative; right: -700px; top: -90px; width: 500px; height: 400px;">
    <video width="500" height="400" controls>
    <source src="../../../assets/service_implant.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
         <p style="text-align: left; color: black;font-size: large;
     position: relative; right: 00px; top: -500px;
     ">A dental implant is a surgical fixture that is placed into the jawbone and<br> allowed to fuse with the bone over the span of a 
     few months.Placement of<br> implant requires an interdisciplinary approach wherein a team of dental<br> implant specialists including 
     oral surgeon,prosthodontist, periodontist,<br> and oral radiologist participate in the planning,
    execution, and maintenance <br>of the implants to ensure the best possible outcome.
             <br> <br> <br>
         </p>
     </div>
     <br> <br> <br><br> <br> <br> 
</body>